= form_for research_topic do |f|
  .form-group
    = f.label :text, class: 'sr-only'
    = f.text_area :text, class: 'form-control input-lg', placeholder: "Enter your research question here...", autocomplete: :off, maxlength: 200
  .form-group
    = f.label :description, class: 'sr-only'
    = f.text_area :description, placeholder: "Describe why you think this question is important...", class: 'form-control input-lg'
  .form-group
    = f.label :category, class: 'sr-only'
    %h4 Select a category for your question:
    = f.select :category, ResearchTopic::CATEGORIES.collect {|p| [p.to_s.titleize,p]}, {prompt: "-- select category --" }, { class: 'input-lg form-control' }
  - if current_user.can_moderate?(research_topic)
    .form-group
      = f.label :state, class: 'sr-only'
      %h4 Admin question state:
      = f.select :state, ResearchTopic::STATES.collect {|p| [p.to_s.titleize,p]}, {prompt: "-- select state --" }, { class: 'input-lg form-control' }
  = f.submit("Submit", class: "btn btn-success pull-right")
  .clearfix


