
%table.table
  %tr
    %th.col-sm-2.small
      - if kind == :popular
        Votes
      - elsif kind == :newest
        Posted On
      - elsif kind == :most_discussed
        Last Activity On
      - elsif kind == :archived
        Last Activity On

    %th.col-sm-8.small Question
    -#%th.col-sm-2.small Vote
    %th.col-sm-2.small


  - i = 0
  - research_topics.each do |research_topic|
    - i += 1
    %tr
      %td
        - if kind == :popular
          = research_topic.rating #rank
        - elsif kind == :newest
          = my_strftime(research_topic.created_at)
        - elsif kind == :most_discussed
          -#= research_topic.comments_last_30
          = my_strftime(research_topic.updated_at)
        - elsif kind == :archived
          = my_strftime(research_topic.updated_at)
      %td
        = link_to research_topic.text, research_topic_path(research_topic)
        %br
        %small 
          = link_to "view #{research_topic.comments.count} #{'comment'.pluralize(research_topic.comments.count)}", research_topic_path(research_topic,anchor: "comments")
          \- #{research_topic.category.titleize} - #{time_ago_in_words(research_topic.created_at)} ago

      %td
        - if current_user
          - if research_topic.votable?
            - unless research_topic.has_vote?(current_user, 1)
              %a.btn.btn-primary.btn-sm.vote{href: vote_path, data: {research_topic_id: research_topic.id, submit_path: vote_path, research_topic_path: research_topic_path(research_topic), type: "cast"}} Cast Vote
            - else
              %a.btn.btn-default.btn-sm.vote{href: vote_path, data: {research_topic_id: research_topic.id, submit_path: vote_path, research_topic_path: research_topic_path(research_topic), type: "retract"}} Retract Vote
          - else
            %a.btn.btn-success.btn-sm.research_priority{"data-category" => "#{research_topic.state}" }
              = research_topic.state.titleize




.panel-footer.text-center
  = paginate research_topics, param_name: "#{kind}_page", params: {active_tab: kind}