-### pairing wizard

-# Pair with Legacy CCFA Partners
- if Figaro.env.survey_maintenance
  .panel.panel-default
    .panel-heading
      The survey system is currently undergoing maintenance, please check back later
- elsif !current_user.paired_with_lcp
  .panel.panel-default
    .panel-heading
      Were you previously a CCFA Partners member?
    .panel-body
      = "If you previously registered for CCFA Partners, we'd love to connect your new account to the data from your previous account to save you time.  Please provide your email that you have previously used with CCFA Partners and we'll try to make the connection."
      %br/

      = form_tag(pairing_wizard_path, class: "form-inline")
      .form-group
        .input-group
          %label.sr-only{:for => "email"} Email address
          =text_field_tag(:alt_email, nil, class: "form-control", :placeholder => "Alternative Email Address", :type => "email", :size => "40")
      .form-group
        .input-group
          =submit_tag "Try Matching Account", class: "btn btn-success"

  .panel.panel-default
    .panel-heading
      Are you brand new to CCFA Partners?
    .panel-body
      = "If you are pretty sure you have no previous CCFA Partners account, please continue with registration."
      %a.btn.btn-primary{href: redirect_to_lcp_reg_path} Continue with registration

- else
  - if current_user.oodt_baseline_survey_complete
    %h3 Congrats! You're all ready to get into the site!
    %a.btn.btn-primary{href: health_data_path} Continue
  - else
    .alert.alert-info
      %strong You need to complete your baseline survey!
      = link_to "Click here to do it.", current_user.oodt_baseline_survey_url



-# Pair with Crohnology
-#- if !current_user.paired_with_crohnology?
-#  [ ] Pair this account with my Crohnology Account #{if acct found}
-#  [ ] Create a Crohnology acct #{if no acct found}