- if current_user
  .panel.panel-default
    .list-group
      - current_user.incomplete_surveys.each do |survey|
        = link_to start_or_resume_survey(survey, survey.most_recent_answer_session(current_user)), class: 'list-group-item' do
          %h3
            = survey.name
            .btn.btn-success.btn-lg.pull-right
              Resume
              &nbsp;
              .fa.fa-arrow-right
            = render partial: 'surveys/partials/session_progress', locals: {stats: survey.completion_stats(current_user), question_flow: survey, answer: nil}
      - current_user.unstarted_surveys.each do |survey|
        = link_to start_or_resume_survey(survey), class: 'list-group-item' do
          %h3
            = survey.name
            .btn.btn-success.btn-lg.pull-right
              Start
              &nbsp;
              .fa.fa-arrow-right
          %p Survey not yet started.
          %p
            %strong
              Estimated time commitment:
              = survey.total_time.ceil
              minutes for
              = survey.all_questions.length