- @title = "My Trends"
- @active_sub_nav = :my_trends



.panel.panel-default
  .panel-heading
    %h4.panel-title Disease Activity Scores
  .panel-body
    - if @disease_activity_scores.any?
      = "Score Type: #{@disease_activity_result['scoreType']}"
      %br/
      = "Possible Score Range: [#{@disease_activity_result['min']}-#{@disease_activity_result['max']}]"
      %br/

      %ul
      - @disease_activity_scores.each do |disease_activity_score|
        %li= disease_activity_score
    - else
      .alert.alert-info= "We have no disease activity scores for you. Please complete more health check-ins."

