- @title = "My Connections"
- @active_sub_nav = :my_connections

-# %center
-#   = image_tag "app_icons_bw.png"

- if current_user && VALIDIC_ENABLED
  %h3 Sync My Apps & Devices
  %p
    %em We partner with Validic to make connecting your mobile health apps and devices as easy and safe as possible. For more information about Validic, click here. By connecting the data from your devices to the network, you can create even more graphs in your patient portal. You can always disconnect any of the devices you're using at any time.

  -# %h2 generic marketplace (not using)
  -# %br/
  -# %a.btn.btn-success.btn-md{:href => current_user.validic_app_marketplace_url, :target => "_blank"} Add or Remove Device Connections

  .row
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Fitbit'}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Moves App'}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Nike +'}

  .row
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Map My Fitness'}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Jawbone Up'}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'BodyMedia'}

  .row
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'RunKeeper'}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Strava'}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Withings'}

  .row
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Fatsecret'}
    .col-sm-4
    .col-sm-4
  %hr/

  = javascript_include_tag 'my_dashboard'
  
- else
  .alert.alert-info= "Please sign in or sign up to connect your devices and apps."