- @title = "My Connections"
- @active_sub_nav = :my_connections

-# %center
-#   = image_tag "app_icons_bw.png"

- if current_user && VALIDIC_ENABLED
  %h3 Sync My Favorite App/Device
  %p
    %em
      We partner with Validic to make connecting your favorite mobile health app or device as easy and safe as possible. For more information about Validic, 
      =link_to "click here.","https://validic.com/about"
      By connecting your app or device, you’ll be able to create more graphs to track your health in the patient portal. You can only connect one app or device at a time. If you want to connect a different app, just disconnect the app you’re using first.

  -# %h2 generic marketplace (not using)
  -# %br/
  -# %a.btn.btn-success.btn-md{:href => current_user.validic_app_marketplace_url, :target => "_blank"} Add or Remove Device Connections

  .row
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Fitbit'}, locals: { marketplace_synced: @marketplace_synced}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Moves App'}, locals: { marketplace_synced: @marketplace_synced}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Nike +'}, locals: { marketplace_synced: @marketplace_synced}

  .row
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Map My Fitness'}, locals: { marketplace_synced: @marketplace_synced}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Jawbone Up'}, locals: { marketplace_synced: @marketplace_synced}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'BodyMedia'}, locals: { marketplace_synced: @marketplace_synced}

  .row
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'RunKeeper'}, locals: { marketplace_synced: @marketplace_synced}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Strava'}, locals: { marketplace_synced: @marketplace_synced}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Withings'}, locals: { marketplace_synced: @marketplace_synced}

  .row
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Fatsecret'}, locals: { marketplace_synced: @marketplace_synced}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Garmin Fit'}, locals: { marketplace_synced: @marketplace_synced}
    .col-sm-4
      = render partial: "marketplace_app", object: @marketplace.find {|app| app['name'] == 'Misfit Wearables'}, locals: { marketplace_synced: @marketplace_synced}

  = javascript_include_tag 'my_dashboard'
  

%h3 Health Data from Apps & Devices
%p Check out the list of apps and devices below to see what health data is displayed from each in your personal health tracking graphs (found in My Dashboard and, soon to come, My Trends). If your app/device does not currently provide health data for graphs, we hope you’ll still connect it to help further IBD research. 

%table.table.table-striped
  %thead
    %td
    %td Steps
    %td Sleep
    %td Calories Burned
  %tr
    %td BodyMedia
    %td
      %i.fa.fa-times
    %td
      %i.fa.fa-times
    %td
      %i.fa.fa-times
  %tr
    %td FatSecret
    %td
    %td
    %td
  %tr
    %td Fitbit
    %td
      %i.fa.fa-times
    %td
      %i.fa.fa-times
    %td
      %i.fa.fa-times
  %tr
    %td Garmin Fit
    %td
      %i.fa.fa-times
    %td
      %i.fa.fa-times
    %td
      %i.fa.fa-times
  %tr
    %td JawboneUP
    %td
      %i.fa.fa-times
    %td
      %i.fa.fa-times
    %td
      %i.fa.fa-times
  %tr
    %td MapMyFitness
    %td
    %td
    %td
  %tr
    %td Misfit Wearables
    %td
      %i.fa.fa-times
    %td
      %i.fa.fa-times
    %td
      %i.fa.fa-times
  %tr
    %td Moves
    %td
      %i.fa.fa-times
    %td
    %td
      %i.fa.fa-times
  %tr
    %td Nike+
    %td
      %i.fa.fa-times
    %td
    %td
      %i.fa.fa-times
  %tr
    %td RunKeeper
    %td
    %td
    %td
  %tr
    %td Strava
    %td
    %td
    %td
  %tr
    %td Withings
    %td
      %i.fa.fa-times
    %td
    %td
      %i.fa.fa-times
