- @title = "My Dashboard"
- @active_sub_nav = :my_dashboard


- if current_user 
  .panel.panel-default
    .panel-heading
      %h4.panel-title My Dashboard
    .panel-body
    - if current_user.latest_check_in_complete
      #dashboard_data{ data: { sleep: @user_sleep?(@user_sleep.sleep_hours):0, steps: @user_routine?(@user_routine.steps.to_i):0, health_today: @check_in?(@check_in.health_index):0 , disease_type: "#{current_user.get_disease_type}", disease_index: @check_in?(@check_in.disease_index):0, sleep_date: @user_sleep?(@user_sleep.timestamp_date):0, steps_date: @user_routine?(@user_routine.timestamp_date):0, health_today_date: @check_in?(@check_in.created_at):0 , disease_index_date: @check_in?(@check_in.created_at):0} }
      .row
        .col-sm-6
          #gauge-health{:style => "width: 300px; height: 200px"}
          %p.text-center
            %em
              as of
              = current_user.latest_check_in_complete.created_at.strftime("%b %d, %Y")
        .col-sm-6
          - if current_user.latest_check_in_complete.check_in_survey.version == "CD1.0"
            #gauge-cd{:style => "width: 300px; height: 200px"}
            %p.text-center
              %em
                as of
                = current_user.latest_check_in_complete.created_at.strftime("%b %d, %Y")
          - elsif current_user.latest_check_in_complete.check_in_survey.version == "UC1.0"
            #gauge-uc{:style => "width: 300px; height: 200px"}
            %p.text-center
              %em
                as of
                = current_user.latest_check_in_complete.created_at.strftime("%b %d, %Y")
          - else
            %p.text-center
              %br/
              %br/
              disease activity unavailable
      -if VALIDIC_ENABLED
        .row
          .col-sm-6
            #gauge-step{:style => "width: 300px; height: 200px"}
            %p.text-center
              %em
                -if @user_routine
                  as of
                  = @user_routine.timestamp_date.strftime("%b %d, %Y")
                -else
                  no data available
          .col-sm-6
            #gauge-sleep{:style => "width: 300px; height: 200px"}
            %p.text-center
              %em
                -if @user_sleep
                  as of
                  = @user_sleep.timestamp_date.strftime("%b %d, %Y")
                -else
                  no data available
      -else
        .row
          .col-sm-6
            #gauge-step-coming-soon{:style => "width: 300px; height: 200px"}
            %p.text-center
          .col-sm-6
            #gauge-sleep-coming-soon{:style => "width: 300px; height: 200px"}

      = javascript_include_tag 'my_dashboard'
    - else
      %p Complete a health check in to see your data
    .clearfix

- else
  .alert.alert-info= "Please sign in or sign up to see your Dashboard"
