<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @check_in_survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @check_in_survey.description %>
</p>

<p>
  <strong>Question 1:</strong>
  <%= @check_in_survey.question_1 %>
</p>

<p>
  <strong>Question 2:</strong>
  <%= @check_in_survey.question_2 %>
</p>

<p>
  <strong>Question 3:</strong>
  <%= @check_in_survey.question_3 %>
</p>

<p>
  <strong>Question 4:</strong>
  <%= @check_in_survey.question_4 %>
</p>

<%= link_to 'Edit', edit_check_in_survey_path(@check_in_survey) %> |
<%= link_to 'Back', check_in_surveys_path %>
