
- current_user_badges = current_user.badges
- @badges = Merit::Badge.all

-##############
-#### SHOW BADGES
-##############

-#- if current_user
-#  %ul.list-group.badgers
-#    - @badges.each do |badge|
-#      %li.list-group-item.badger.list-group-item-success{ :class => "#{"badger-earned" if current_user_badges.include?(badge)}"}
-#        .media
-#          %a.pull-left{:href => "#"}
-#            %i.fa.media-object{:class => badge.custom_fields[:icon]}
-#          .media-body
-#            %h4.media-heading= badge.custom_fields[:title]
-#            - if badge.level
-#              %h4= badge.level
-#            %small= badge.description






-#%ul.list-group.badgers

-#    %li.list-group-item
-#      .media
-#        %a.pull-left{:href => "#"}
-#          %i.fa.media-object{:class => master_badge.custom_fields[:icon]}
-#        .media-body
-#          %h4.media-heading= master_badge.custom_fields[:title]
-#          -# %small= master_badge.custom_fields[:category_description]

-#          - badge_group.each do |badge|
-#            - if earned_badges.include?(badge)
-#              %strong
-#                %small= "#{badge.level} #{badge.description}"
-#            - else
-#              %small= "#{badge.level} #{badge.description}"
-#            %br/



.panel-group#accordion
  - @badges.group_by{ |b| b.name }.each do |name, badge_group|
    - master_badge = badge_group.first
    - earned_badges = current_user_badges.select { |badge| badge.name == name }
    - highest_level = earned_badges.first ? earned_badges.sort { |x| x.level }.first.level : 0

    .panel.panel-primary
      .panel-heading
        %h4.panel-title
          %a.a-no-decoration{html: 'data-toggle="collapse" data-parent="#accordion"', href: "#collapseOne"}
            %i.fa{:class => master_badge.custom_fields[:icon]}
            = master_badge.custom_fields[:title]

          %span.badge.pull-right= highest_level
          .clearfix

      #collapseOne.panel-collapse.collapse.in
        .panel-body.small
          %ul{style: "padding-left: 25px;"}
            %li.text-success.small.text-strong
              = "Level 0: This where you start."
            - badge_group.each do |badge|
              %li.small{class: "#{ earned_badges.include?(badge) ? "text-success text-strong" : "text-muted"}"}
                = "Level #{badge.level}: #{badge.description}"




  -#.panel.panel-default
  -#  .panel-heading
  -#    %h4.panel-title
  -#      %a{html: 'data-toggle="collapse" data-parent="#accordion"', href: "#collapseTwo"}
  -#        Collapsible Group Item #2
  -#  #collapseTwo.panel-collapse.collapse
  -#    .panel-body
  -#      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.





-#%ul.list-group.badgers
-#  - @badges.group_by{ |b| b.name }.each do |name, badge_group|
-#    - master_badge = badge_group.first
-#    - earned_badges = current_user_badges.select { |badge| badge.name == name }

-#    %li.list-group-item
-#      .media
-#        %a.pull-left{:href => "#"}
-#          %i.fa.media-object{:class => master_badge.custom_fields[:icon]}
-#        .media-body
-#          %h4.media-heading= master_badge.custom_fields[:title]
-#          -# %small= master_badge.custom_fields[:category_description]

-#          - badge_group.each do |badge|
-#            - if earned_badges.include?(badge)
-#              %strong
-#                %small= "#{badge.level} #{badge.description}"
-#            - else
-#              %small= "#{badge.level} #{badge.description}"
-#            %br/


    -#{ :class => "#{"badger-earned list-group-item-success" if earned_badges.any?}"}

    -# master_badge = badge_group.second.sort_by { |b| b.level }.first

-#- if @active_top_nav_link == :home
-#  - badges = [{title:"Frequent Check-iner",body:"You've done 40 frequent surveys", icon: "fa-clock-o", earned: true},
-#              {title:"On Fire!",body:"You are on a 5 survey streak!", icon: "fa-fire", earned: true},
-#              {title:"Inquisitor",body:"You asked 1 research question", earned:true, icon: "fa-question-circle"},
-#              {title:"Friendly",body:"You've made a social profile", icon: "fa-smile-o", earned: true},
-#              {title: "Connector", earned: true, body: "You've connected 3 Data Sources", icon: "fa-link"},
-#              {title:"Greeter",body:"You have posted your photo on the homepage!", icon: "fa-slideshare", earned: true}]

-#- elsif @active_top_nav_link == :research
-#  - badges = [{title:"Inquisitor",body:"You asked 1 research question", earned:true, icon: "fa-question-circle"},
-#              {title:"Voter",body:"You cast 5 votes", icon: "fa-check-circle-o"},
-#              {title:"Discusser",body:"You commented on 3 topics", icon: "fa-comments-o"},
-#              {title:"Great Ideamaker",body:"Your ideas are in the top 25%", icon: "fa-lightbulb-o"},
-#              {title:"Dutiful Citizen",body:"You've responded to 10 biannual surveys!", icon: "fa-list-ul"},
-#              {title:"On Fire!",body:"You are on a 5 survey streak!", icon: "fa-fire", earned: true} ]

-#- elsif @active_top_nav_link == :health_data
-#  - badges = [{title: "Connector", earned: true, body: "You've connected 3 Data Sources", icon: "fa-link"},
-#              {title: "Data Dumper", earned: false, body: "Use Your Connected Devices", icon: "fa-bar-chart"},
-#              {title: "Sherlock", earned: false, body: "Investigate and graph your data", icon: "fa-search"}]

-#- elsif @active_top_nav_link == :members
-#  - badges = [{title:"Friendly",body:"You've made a social profile", icon: "fa-smile-o", earned: true},
-#              {title:"Greeter",body:"You have posted your photo on the homepage!", icon: "fa-slideshare", earned: true}]


-#-##############
-#-#### SHOW BADGES
-#-##############
-#%ul.list-group.badgers
-#  - badges.each do |badge|
-#    %li.list-group-item.badger.tip{class: "#{badge[:earned] ? 'badger-earned list-group-item-success' : nil}", "data-toggle" => "tooltip", "data-placement" => "left", "title" => "Earn this badge!"}
-#      .media
-#        %a.pull-left{:href => "#"}
-#          %i.fa.media-object{class: badge[:icon]}
-#        .media-body
-#          %h4.media-heading= badge[:title]
-#          %small= badge[:body]

-#- content_for :js do
-#  $('.tip').tooltip()

