- @title = "Account"
- @active_sub_nav = :account


-# content_for :before_scripts do
= javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=#{Rails.configuration.google_maps_api_key}"


-# content_for :after_scripts do
= javascript_include_tag 'typeahead-addresspicker'
= javascript_include_tag 'social/places'
= javascript_include_tag 'social/social_profile'



.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Your Profile
        %span This is for community purposes only. You can make your community name different than your real name.
      .panel-body#social_profile_form_panel
        = form_for @social_profile, html: {role: "form", class: 'form-horizontal'}, url: update_social_profile_path do |f|

          - if @social_profile.errors.any?
            .alert.alert-danger.alert-dismissable
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
              %strong Profile Errors
              %ul
                - @social_profile.errors.full_messages.each do |msg|
                  %li= msg.html_safe

          .form-group
            %label.col-sm-3.control-label
              = image_tag current_user.private_photo_url, :class => "img-responsive img-circle pull-right"
            .col-sm-9
              %h4 Your Photo
              =f.file_field :photo
          .form-group
            %label.col-sm-3.control-label Community Name
            .col-sm-6
              =f.text_field(:name, class: 'form-control')
          .form-group
            %label.col-sm-3.control-label City
            .col-sm-6
              =f.text_field(:location, autocomplete: 'off', id: 'location', class: 'form-control')
              =f.hidden_field :latitude
              =f.hidden_field :longitude
              =f.hidden_field :location_id
          .form-group
            %label.col-sm-3.control-label Age
            .col-sm-6
              =f.number_field(:age, class: 'form-control')
          .form-group
            %label.col-sm-3.control-label Sex
            .col-sm-6
              =f.select(:sex, ["Male", "Female", "Other"], {}, class: 'form-control')

          -#.form-group
          -#  .col-sm-3.control-label
          -#    .checkbox.pull-right
          -#      %label
          -#        =f.check_box :show_karma, id: 'checkbox'
          -#  .col-sm-6
          -#    %h4 Show me in the top karma earners list if I qualify.


          =f.submit("Save", class: 'btn btn-primary pull-right')




.row
  .col-md-12
    = form_for @social_profile, html: {role: "form", class: 'form-horizontal'}, url: update_social_profile_path do |f|
      .panel.panel-default
        .panel-heading
          %h4 Show me to other members?

          .row
            .col-md-9
              .radio
                %label
                  = f.radio_button :visible_to_community, true, id: 'visible_to_community_true' #, #optionsRadios2'
                  %strong
                    Social On:
                  %span.small Let other members see my above profile.
              .radio
                %label
                  = f.radio_button :visible_to_community, false, id: 'visible_to_community_false' #, #optionsRadios1'
                  %strong
                    Social Off:
                  %span.small Don't let other members see any info about me (such as my above profile).


            .col-md-3
              %br/
              =f.submit("Save", class: 'btn btn-primary pull-right')


.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h4.panel-title Your Email
      .panel-body
        %em= current_user.email
    .panel.panel-default
      .panel-heading
        %h4.panel-title Change Password
      .panel-body
        - if @user.errors.any? and @update_for == :password
          = render partial: "shared/form_errors", locals: {resource: @user, message: "Your new password could not be saved."}
        = form_for @user, url: change_password_path do |f|
          .form-group
            = f.label :current_password, class: "sr-only"
            = f.password_field :current_password, class: 'form-control input-lg', placeholder: 'Current Password'
          .form-group
            = f.label :password, class: 'sr-only'
            = f.password_field :password, class: 'form-control input-lg', placeholder: "New Password"
          = f.submit "Change my password", class: 'btn btn-warning pull-right'



  .col-md-6
    .panel.panel-default
      .panel-heading
        %h4.panel-title Member Stats
      %table.table
        %tr
          %td Member Since
          %td= current_user.created_at.strftime("%b %e, %Y")
        %tr
          %td Member Number
          %td= "##{current_user.id}"

    - if current_user.roles.any?
      .panel.panel-default
        .panel-heading
          %h4.panel-title Special Roles
        .panel-body
          - current_user.roles.each do |role|
            %span.label.label-default{:style => "margin-right: 5px;"}
              = role.name.titleize
          .small
            %br/
            To have your roles changed, ask an admin.

    -#.panel.panel-default
    -#  .panel-heading
    -#    %h4.panel-title Notification Preferences
    -#  .panel-body
    -#    %form.form-horizontal{role: "form"}
    -#      .radio
    -#        %label
    -#          %input#optionsRadios1{checked: "checked", name: "optionsRadios", type: "radio", value: "option1"}/
    -#          Email Me
    -#      .radio
    -#        %label
    -#          %input#optionsRadios2{name: "optionsRadios", type: "radio", value: "option2"}/
    -#          Don't Email Me



    -#.panel.panel-default
    -#  .panel-heading
    -#    %h4.panel-title Language
    -#  .panel-body
    -#    %form.form-horizontal{:role => "form"}
    -#      .form-group
    -#        / %label.control-label.col-md-6{for: "inputPassword3"}
    -#        /   %i.fa.fa-globe &nbsp; Language:
    -#        .col-md-6
    -#          %select.form-control
    -#            %option
    -#              %i.fa.fa-globe
    -#              English
    -#            %option Spanish

    .panel.panel-default
      .panel-heading
        %h4.panel-title Account Settings
      .panel-body
        %h3 Leave Research Study
        %p.small= "You may choose to leave the research study at any time. We will no longer collect any information from you and we will stop all communication. However, as stated in the informed consent, the information that you have already provided to #{Figaro.env.website_title} will remain within the study results."
        = link_to 'View Consent', consent_path, class: 'btn btn-info btn-block'
        -#= link_to 'Leave Research Study', consent_path(consent_revoked: true), method: :post, class: 'btn btn-warning btn-block'
        = link_to 'Contact Us to Leave Study', contact_path, class: 'btn btn-warning btn-block'
