<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @check_in_response.user_id %>
</p>

<p>
  <strong>Check in survey:</strong>
  <%= @check_in_response.check_in_survey_id %>
</p>

<p>
  <strong>Answer 1:</strong>
  <%= @check_in_response.answer_1 %>
</p>

<p>
  <strong>Answer 2:</strong>
  <%= @check_in_response.answer_2 %>
</p>

<p>
  <strong>Answer 3:</strong>
  <%= @check_in_response.answer_3 %>
</p>

<p>
  <strong>Answer 4:</strong>
  <%= @check_in_response.answer_4 %>
</p>

<%= link_to 'Edit', edit_check_in_response_path(@check_in_response) %> |
<%= link_to 'Back', check_in_responses_path %>
