- @active_sub_nav = :research_prioritization


.row
  .col-md-12

    .panel.panel-default.research_topics
      .panel-heading
        %ul.nav.nav-pills{role: "tablist"}
          %li{class: ("active" if (params[:category].nil? && params[:active_tab].nil?) || params[:active_tab] == "newest")}
            %a{href: "?active_tab=newest"} Newest
          %li{class: ("active" if params[:active_tab] == "most_active")}
            %a{href: "?active_tab=most_active"} Most Active
          %li{class: ("active" if params[:active_tab] == "popular")}
            %a{href: "?active_tab=popular"} Current Standings
          %li{class: ("active" if params[:active_tab] == "archived")}
            %a{href: "?active_tab=archived"} Archived

          %li.dropdown{class: ("active" if params[:category]), "role"=>"presentation"}
            %a.dropdown-toggle{"data-toggle"=>"dropdown", "href"=>"#", "role"=>"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              =  @research_category ? @research_category.to_s.titleize : 'Category'
              %span.caret
            %ul.dropdown-menu
              - ResearchTopic::CATEGORIES.each do |c|
                %li
                  %a{"href" => "?category=#{c}"}
                    = c.to_s.titleize

        -# = form_tag(:action => 'index') do
        -#   = select_tag(:filter, options_for_select( ResearchTopic::CATEGORIES.map {|c| [c.to_s.titleize, c.to_s]}))

      .tab-content
        -if (params[:category].nil? && params[:active_tab].nil?) || (params[:active_tab] == "newest")
          .tab-pane.active
            = render partial: "research_topics/research_topics", locals: {research_topics: @research_topics_newest, kind: :newest}
        -elsif params[:active_tab] == "most_active"
          .tab-pane.active
            = render partial: "research_topics/research_topics", locals: {research_topics: @research_topics_most_active, kind: :most_active}
        -elsif params[:active_tab] == "popular"
          .tab-pane.active
            = render partial: "research_topics/research_topics", locals: {research_topics: @research_topics_popular, kind: :popular}
        -elsif params[:active_tab] == "archived"
          .tab-pane.active
            = render partial: "research_topics/research_topics", locals: {research_topics: @research_topics_archived, kind: :archived}
        -elsif !params[:category].nil?
          .tab-pane.active
            = render partial: "research_topics/research_topics", locals: {research_topics: @research_topics_category, kind: :category}



.row
  .col-md-6.vote_counter{data: {target_path: vote_counter_path}}
    -# My Votes
    = render partial: "research_topics/research_topics_voted_on"
  .col-md-6.wilco
    -# My Questions
    = render partial: "research_topics/my_research_topics"

