-##############
-### ACCOUNT SETTINGS
-##############

-##############
-### YOUR CONTRIBUTIONS
-##############
- content_for :your_contributions do
  = render partial: "shared/badge_list" if current_user



- content_for :research_content do
  %ul.nav.nav-tabs{role: "tablist"}
    %li{class: "#{'active' if @active_sub_nav == :social_profile}"}
      %a{href: social_profile_path} My Social Profile
    %li{class: "#{'active' if @active_sub_nav == :account}"}
      %a{href: account_path} My User Information
  %br/

  = yield


= render template: "layouts/community"
