- @title = "Community"
- @intro = true

- content_for :sublayout do

  -# MOSAIC AND TITLE
  .row.mosaic-bg
    .col-md-9
      <br/>
      -if @active_top_nav_link
        .panel.panel-primary.display-inline-block
          .panel-heading
            %span.h1= @active_top_nav_link.to_s.titleize


      -# COMMUNITY CONTRIBUTIONS PANEL
      - if content_for(:community_contributions)
        .community-scoreboard
          = yield :community_contributions

      -#################
      -# PAGE CONTENT! #
      = content_for?(:page_content) ? yield(:page_content) : yield


    -# YOUR CONTRIBUTIONS SIDEBAR
    .col-md-3
      - if !current_user
        = render partial: "shared/promotion_to_join"
      - else
        <br/><br/><br/><br/><br/>
        = render partial: "shared/bio"
        .badge_list{data: {target_path: badge_list_path}}
          = render partial: "shared/badge_list"


= render template: "layouts/application"

