-##############
-### COMMUNITY CONTRIBUTIONS
-##############
- scores = { "Members" => @network_users_count, "Social Profiles" => SocialProfile.visible_to_community.count, "Unique Locations" => SocialProfile.unique_locations_count }
- content_for :community_contributions, render(:partial => "/shared/community_scoreboard", locals: { scores: scores })

= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{Rails.configuration.google_maps_api_key}"
= javascript_include_tag 'social/maps'


-#-##############
-#-### MAIN CONTENT SECTION
-#-##############


-if current_user
  -#### MAP OF MEMBERS
  .panel.panel-default
    .panel-heading
      .row
        .col-md-6
          %h3.panel-title
            Members around the world
          %small (Members not shown have chosen to be anonymous.)
        .col-md-6
          .btn-group.btn-group-sm.pull-right{data: {toggle: "buttons"}}
            %label.btn.btn-default#city-view
              %input{type: "radio", name: "zoomLevel"}
              City
            %label.btn.btn-default#state-view
              %input{type: "radio", name: "zoomLevel"}
              State
            %label.btn.btn-default#country-view.active
              %input{type: "radio", name: "zoomLevel", checked: 'checked'}
              Country
            %label.btn.btn-default#world-view
              %input{type: "radio", name: "zoomLevel"}
              World
    #user_map{data: {path: locations_path}}
    .panel-footer.small
      - if current_user and current_user.social_profile and current_user.social_profile.location
        .pull-right
          You are currently living in
          = current_user.social_profile.location
          = link_to "Update this.", social_profile_path
        .clearfix
      - else
        Where do you live?
        = link_to "Add yourself to this map.", social_profile_path


-#### GRAPHICAL STATS
.graphs

  .row
    .col-md-7
      .panel.panel-default
        .panel-heading
          %h3.panel-title Locations
        .panel-body
          = image_tag "https://cgibd.med.unc.edu/ccfapartners/graphs/location_img.php?width=400&height=200&colors=88ddcc|3388ee&textcolor=000000"

    .col-md-5
      .panel.panel-default
        .panel-heading
          %h3.panel-title Gender
        .panel-body
          = image_tag "https://cgibd.med.unc.edu/ccfapartners/graphs/gender_img.php?height=200&width=200&color1=88ccff&color2=3388ee&textcolor=000000"

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title Members' Age Distribution
        .panel-body
          = image_tag "https://cgibd.med.unc.edu/ccfapartners/graphs/age_img.php?width=650&height=300&colors=88ccee|00FF00"

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title Years Since IBD Diagnosis
        .panel-body
          = image_tag "https://cgibd.med.unc.edu/ccfapartners/graphs/ibdage_img.php?width=650&height=300&colors=88ccee|00FF00"

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title Members' Current Medication Types
        .panel-body
          = image_tag "https://cgibd.med.unc.edu/ccfapartners/graphs/medchart.php?height=350&width=700"
          -# = image_tag "https://cgibd.med.unc.edu/ccfapartners/graphs/medchart.php?height=450&width=650&disease=uc&colors=3388cc|cceeff"






