
-##############
-##### Top Navigation Bar
-##############

.row
  .col-md-12.pprn-heading

    -#### Title
    %a{href: root_path, style: "color: #222"}
      %span.pull-left=image_tag "ccfa_logo_120.gif", width: "400", class: "img-responsive"


    -##############
    -##### Upper Right Small Nav
    -##############
    .pull-right
      %br/

      %ul.nav.nav-pills.small
        %li
          %a{:href => main_app.content_path(page: "about_partners")} About
        %li
          %a{:href => main_app.resources_path(page: "resources_info")} Resources
        %li
          =link_to "Help", contact_path


        -##### User Account Stuff / Sign Out
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
              My Account
              %span.caret
            %ul.dropdown-menu.dropdown-menu-right{role: "menu"}

              %li
                %a{href: main_app.account_path}
                  %i.fa.fa-user &nbsp; My Profile & Login

              - if current_user.can?(:view_admin_dashboard)
                %li.divider{role:"presentation"}
                %li
                  %a{href: main_app.admin_path, :title => "Admin Panel"}
                    %i.fa.fa-gavel &nbsp; Admin Panel
              %li.divider{role:"presentation"}

              -# Sign Out
              %li
                = link_to "<i class='fa fa-sign-out'></i> Sign out of<br/><em>#{current_user.email}</em>".html_safe, main_app.destroy_user_session_path, :method => :delete

        - else
          -##############
          -##### Sign Up / Sign In
          -##############
          %li
            %a{:href => main_app.new_user_session_path}
              %i.fa.fa-sign-in
                Sign In / Up

    .clearfix
    %hr



-##############
-##### Major Top Nav Links
-##############

.row
  .col-md-12.pprn-nav
    %ul.nav.nav-pills.top-nav.pull-left
      %li{:class => "#{"active" if @active_top_nav_link == :home}"}
        %a{href: main_app.home_path} Home
      %li{:class => "#{"active" if @active_top_nav_link == :research}"}
        %a{href: main_app.research_path} Research
      %li{:class => "#{"active" if @active_top_nav_link == :health_data}"}
        %a{href: main_app.health_data_path} My Health Data
      %li{class: "#{"active" if @active_top_nav_link == :members}"}
        %a{href: main_app.members_path} Members


    -# NEXT SURVEY LINK AND NOTIFICATION

    - if current_user && current_user.external_account && current_user.external_account.next_survey_date

      - if current_user.external_account.next_survey_date.future?
        .pull-right
          .alert{:style => "padding: 5px 20px 5px 20px; margin-top: 15px;"}
            Your next survey opens in
            = distance_of_time_in_words(current_user.external_account.next_survey_date, Time.now)
            = "(#{current_user.external_account.next_survey_date.strftime("%B %e, %Y")})"

      - else
        .pull-right
          .alert.alert-success{:style => "padding: 5px 20px 5px 20px; margin-top: 15px;"}
            %strong You have a new survey to do!
            %a{href: current_user.external_account.next_survey_url} Click here to do it.



